.layout-v1 .homepage-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.layout-v1 .homepage-intro-content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .layout-v1 .ripple-title-logo{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .layout-v1 .navbar-header a{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .layout-v1 .navbar-header a:hover{
    color: var(--primary-500)
  }

  .layout-v1 .hero-cta{
    background-color: var(--primary-default)
  }

  .layout-v1 .hero-title{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .layout-v1 .hero-caption{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .layout-v1 .hero-title .hero-title-highlight{
    color: var(--primary-default);
  }


/* About us section */

  .about-section{
    height: 33vw;
  }

  .about-section-container{
    height: 25vw;
    border-radius: 20px;
  }

  .about-us-image{
    position: relative;
    top: 5vw;
    left: 5vw;
    width: 28vw;
  }


  @media(max-width: 1280px){
    .about-us-image{
      position: relative;
      top: 7vw;
      left: 7vw;
      width: 34vw;
      }
    .about-section-container{
      height: 35vw;
      border-radius: 20px;
    }
    .about-section{
      height: 45vw;
    }

  }

  @media(max-width: 1024px){

  .about-us-image{
    display: none
  }

  .about-us-text{
    width: auto;
    text-align: center;
  }

  .about-section{
    height: auto;
    
  }
  }

  @media(max-width: 768px){
    .about-section{
      height: auto
    }
    .about-section-container{
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    }

  /* Testimonial Section */
  
  .testimonial-indiv-container{
    border-radius: 20px;
    width: 32%;
  }

  @media(max-width: 1024px){
    .testimonial-section{
      height: auto
    }
    .testimonial-section-container{
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .layout-v1 .testimonial-title{
      font-size: 32px;
    }
    .layout-v1 .testimonial-subtitle{
      font-size: 16px;
    }
  }

  @media(max-width: 1024px){
    .testimonial-list{
      margin-top: 16px
    }
    .testimonial-indiv-container{
      width: 50vw;
      margin-top: 16px;
      position: relative;
      left: calc((100vw - 50vw)/2 - 1.5rem)
    }
  }

  @media(max-width: 640px){
    .testimonial-indiv-container{
      width: 80vw;
      margin-top: 16px;
      position: relative;
      left: calc((100vw - 80vw)/2 - 1.5rem)
    }
  }

  /* FAQ Section */

  .faq-section{
    padding-top: 4rem;
    padding-bottom: 8rem
  }

  .faq-accordions .accordion{
    color: #F0F0EF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .accordion{
    background-color: rgba(76, 103, 97, 0.20);
    border-radius: 20px;
    text-align: left;
  }

  .accordion-body{
    border-radius: 20px;
    border-color: transparent;
    background-color: rgba(76, 103, 97, 0.05);
  }


  @media(max-width: 1024px){
    .faq-section{
      padding-top: 2rem;
      padding-bottom: 4rem
    }

    .layout-v1 .faq-title h1{
      font-size: 20px;
    }

    .faq-title{
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #F0F0EF
    }
  }

  /* Promo section */


  .layout-v1 .promo-form .promo-title{
    border-bottom: 1px solid var(--text-default);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .promo-form{
    width: 30vw;
    position: relative;
    top: -54vw;
    left: 12vw;
    height: 8vh
  }

  @media(max-width: 768px){
    .promo-background{
      display: none;
    }
    .layout-v1 .promo-form{
      width: 100vw;
      position: static;
      padding-left: 1rem;
      padding-right: 2rem;
      height: 50vh;
    }

  }

  @media(max-width: 1024px){
    .promo-form{
      height: 4vh;
    }
  }

  /* Pricing Section */

  .price-indiv-container{
    border-radius: 20px;
    width: 32%;
  }

  .hide-perk{
    visibility: hidden;
  }

  .popular-tag{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  @media(max-width: 1024px){
    .price-section{
      height: auto
    }
    .price-section-container{
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .layout-v1 .price-title{
      font-size: 32px;
    }
    .layout-v1 .price-subtitle{
      font-size: 16px;
    }
  }

  @media(max-width: 1024px){
    .price-list{
      margin-top: 16px
    }
    .price-indiv-container{
      width: 50vw;
      margin-top: 16px;
      position: relative;
      left: calc((100vw - 50vw)/2 - 1.5rem)
    }
  }

  @media(max-width: 640px){
    .price-indiv-container{
      width: 80vw;
      margin-top: 16px;
      position: relative;
      left: calc((100vw - 80vw)/2 - 1.5rem)
    }
  }

  /* Homepage Modal */
  .ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open{
    width: 40vw;
    height: 50vh;
    position: relative !important;
    top: 25vh !important;
    left: 30vw !important;
    background-color: transparent!important;
    border-color: transparent !important;
    overflow: hidden;
  }


  @media(max-width: 1024px){
    .ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open{
      width: 60vw;
      height: 50vh;
      position: relative !important;
      top: 25vh !important;
      left: 20vw !important;
    }
  }

  @media(max-width: 640px){
    .ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open{
      width: 85vw;
      height: 50vh;
      position: relative !important;
      top: 25vh !important;
      left: 7.5vw !important;
    }
  }

