.layout-v1 .homepage-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.layout-v1 .homepage-intro-content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .layout-v1 .ripple-title-logo{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .layout-v1 .navbar-header a{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .layout-v1 .navbar-header a:hover{
    color: var(--primary-500)
  }

  .layout-v1 .hero-cta{
    background-color: var(--primary-default)
  }

  .layout-v1 .hero-title{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .layout-v1 .hero-caption{
    color: #F0F0EF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .layout-v1 .hero-title .hero-title-highlight{
    color: var(--primary-default);
  }


/* About us section */

  .about-section{
    height: 33vw;
  }

  .about-section-container{
    height: 25vw;
    border-radius: 20px;
  }

  .about-us-image{
    position: relative;
    top: 5vw;
    left: 5vw;
    width: 28vw;
  }


  @media(max-width: 1280px){
    .about-us-image{
      position: relative;
      top: 7vw;
      left: 7vw;
      width: 34vw;
      }
    .about-section-container{
      height: 35vw;
      border-radius: 20px;
    }
    .about-section{
      height: 45vw;
    }

  }

  @media(max-width: 1024px){

  .about-us-image{
    display: none
  }

  .about-us-text{
    width: auto;
    text-align: center;
  }

  .about-section{
    height: auto;
    
  }
  }

  @media(max-width: 768px){
    .about-section{
      height: auto
    }
    .about-section-container{
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    }

  /* Testimonial Section */


  /* .testimonial-section-container{
    height: 10vw;
  } */
  
  .testimonial-indiv-container{
    border-radius: 20px;
    width: 32%;
  }

  @media(max-width: 1024px){
    .testimonial-section{
      height: auto
    }
    .testimonial-section-container{
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .layout-v1 .testimonial-title{
      font-size: 32px;
    }
    .layout-v1 .testimonial-subtitle{
      font-size: 16px;
    }
  }

  @media(max-width: 1024px){
    .testimonial-list{
      margin-top: 16px
    }
    .testimonial-indiv-container{
      width: 50vw;
      margin-top: 16px;
      position: relative;
      left: calc((100vw - 50vw)/2 - 1.5rem)
    }
  }

  /* FAQ Section */

  .faq-accordions .accordion{
    color: #F0F0EF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .accordion{
    background-color: rgba(76, 103, 97, 0.20);
    border-radius: 20px;
  }

  .accordion-body{
    border-radius: 20px;
    border-color: transparent;
    background-color: rgba(76, 103, 97, 0.05);
  }


  @media(max-width: 1024px){
    .layout-v1 .faq-title h1{
      font-size: 20px;
    }
  }

