.login-page, .signup-page, .forget-password-page, .reset-password-page{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.spiral{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes spiral {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.spiral-container{
  position: relative;
  top: 45vh;
  left: -5vw;
  transform: rotate(-20deg);
  opacity: 0.03;
}


.character{
  color: var(--text-default);
  font-size: 4em;
  transform: translateY(calc(sin(var(--angle))*100px)) scale(calc(cos(var(--angle)) * 0.5 + 0.5));
  animation: spiral 4s linear infinite;
}

/* Login */

.login-page .login-container{
  max-width: 30vw;
  /* max-height: 468px; */
  position: relative;
  left: 35vw;
  top: 25vh;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 1024px) {
  .login-page .login-container{
    max-width: 50vw;
    left: 25vw;

  }
}

@media (max-width: 640px) {
  .login-page .login-container {
    max-width: 70vw;
    left: 15vw;

  }
}

/* SignUp */

.signup-page .login-container{
  max-width: 30vw;
  /* max-height: 629px; */
  position: relative;
  left: 35vw;
  top: 16vh;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 1024px) {
  .signup-page .login-container {
    max-width: 50vw;
    left: 25vw;

  }
}

@media (max-width: 640px) {
  .signup-page .login-container {
    max-width: 80vw;
    left: 10vw;

  }
}

/* Forgot Password */

.forgot-password-page .login-container{
  max-width: 30vw;
  /* max-height: 279px; */
  position: relative;
  left: 35vw;
  top: 32vh;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 1024px) {
  .forgot-password-page .login-container {
    max-width: 50vw;
    left: 25vw;

  }
}

@media (max-width: 640px) {
  .forgot-password-page .login-container {
    max-width: 80vw;
    left: 10vw;

  }
}

/* Reset Password */

.reset-password-page .login-container{
  max-width: 30vw;
  /* max-height: 506px; */
  position: relative;
  left: 35vw;
  top: 20vh;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 1024px) {
  .reset-password-page .login-container {
    max-width: 50vw;
    left: 25vw;

  }
}

@media (max-width: 640px) {
  .reset-password-page .login-container {
    max-width: 80vw;
    left: 10vw;

  }
}

/* Invalid Link */

.invalid-page .login-container{
  max-width: 60vw;
  /* max-height: 506px; */
  position: relative;
  left: 20vw;
  top: 20vh;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 1024px) {
  .invalid-page .login-container {
    max-width: 70vw;
    left: 15vw;

  }
}

@media (max-width: 640px) {
  .invalid-page .login-container {
    max-width: 80vw;
    left: 10vw;

  }
}


.password-strength-meter .fa-check{
  color: green;
  margin-right: var(--space-xxs)
}

.password-strength-meter .fa-times{
  color: red;
  margin-right: var(--space-xxs)
}