img.summer-bg{
    border-radius: 20px;
    position: relative;
    width: 100vw;
    height: 40vw;
    object-fit: cover;
    object-position: 0 15%;
}

@media (max-width: 768px){
    img.summer-bg{
        height: 80vw;
        object-position: 0 5%;
    }
}

.product-hero-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* 
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center; */