@layer base {
    :root {
      --text-50: #f3f3f2;
      --text-100: #e6e6e5;
      --text-200: #cececa;
      --text-300: #b5b5b0;
      --text-400: #9c9c96;
      --text-500: #83837c;
      --text-600: #696963;
      --text-700: #4f4f4a;
      --text-800: #353531;
      --text-900: #1a1a19;
      --text-950: #0d0d0c;
      
      --background-50: #f2f2f2;
      --background-100: #e6e6e6;
      --background-200: #cccccc;
      --background-300: #b3b3b3;
      --background-400: #999999;
      --background-500: #808080;
      --background-600: #666666;
      --background-700: #4d4d4d;
      --background-800: #333333;
      --background-900: #1a1a1a;
      --background-950: #0d0d0d;
      
      --primary-50: #f9ebeb;
      --primary-100: #f3d8d8;
      --primary-200: #e8b0b0;
      --primary-300: #dc8989;
      --primary-400: #d06262;
      --primary-500: #c43b3b;
      --primary-600: #9d2f2f;
      --primary-700: #762323;
      --primary-800: #4f1717;
      --primary-900: #270c0c;
      --primary-950: #140606;
      
      --secondary-50: #f0f4f3;
      --secondary-100: #e2e9e8;
      --secondary-200: #c4d4d0;
      --secondary-300: #a7beb9;
      --secondary-400: #8aa8a2;
      --secondary-500: #6c938a;
      --secondary-600: #57756f;
      --secondary-700: #415853;
      --secondary-800: #2b3b37;
      --secondary-900: #161d1c;
      --secondary-950: #0b0f0e;
      
      --accent-50: #fff9e5;
      --accent-100: #fff3cc;
      --accent-200: #ffe799;
      --accent-300: #ffdb66;
      --accent-400: #ffcf33;
      --accent-500: #ffc300;
      --accent-600: #cc9c00;
      --accent-700: #997500;
      --accent-800: #664e00;
      --accent-900: #332700;
      --accent-950: #1a1400;
      
    }
    .dark {
      --text-50: #0d0d0c;
      --text-100: #1a1a19;
      --text-200: #353531;
      --text-300: #4f4f4a;
      --text-400: #696963;
      --text-500: #83837c;
      --text-600: #9c9c96;
      --text-700: #b5b5b0;
      --text-800: #cececa;
      --text-900: #e6e6e5;
      --text-950: #f3f3f2;
      
      --background-50: #0d0d0d;
      --background-100: #1a1a1a;
      --background-200: #333333;
      --background-300: #4d4d4d;
      --background-400: #666666;
      --background-500: #808080;
      --background-600: #999999;
      --background-700: #b3b3b3;
      --background-800: #cccccc;
      --background-900: #e6e6e6;
      --background-950: #f2f2f2;
      
      --primary-50: #140606;
      --primary-100: #270c0c;
      --primary-200: #4f1717;
      --primary-300: #762323;
      --primary-400: #9d2f2f;
      --primary-500: #c43b3b;
      --primary-600: #d06262;
      --primary-700: #dc8989;
      --primary-800: #e8b0b0;
      --primary-900: #f3d8d8;
      --primary-950: #f9ebeb;
      
      --secondary-50: #0b0f0e;
      --secondary-100: #161d1c;
      --secondary-200: #2b3b37;
      --secondary-300: #415853;
      --secondary-400: #57756f;
      --secondary-500: #6c938a;
      --secondary-600: #8aa8a2;
      --secondary-700: #a7beb9;
      --secondary-800: #c4d4d0;
      --secondary-900: #e2e9e8;
      --secondary-950: #f0f4f3;
      
      --accent-50: #1a1400;
      --accent-100: #332700;
      --accent-200: #664e00;
      --accent-300: #997500;
      --accent-400: #cc9c00;
      --accent-500: #ffc300;
      --accent-600: #ffcf33;
      --accent-700: #ffdb66;
      --accent-800: #ffe799;
      --accent-900: #fff3cc;
      --accent-950: #fff9e5;
      
    }
  }